@media (max-width: 768px) {
  .container {
    width: 85%;
  }
  .likes div i {
    font-size: 30px;
  }
  .section-studies{
      flex-direction: column;
  }
  .container-studies{
      margin-bottom: 10px;
      width: 100%;
  }

  .information{
    flex-direction: column;
  }
  .information--container-items{
    width: 100%;
  }
  .line-dotted-right {
      border: none;
  }
  .container-subtitle{
    padding-bottom: 7px; 
  }
  
}
@media (max-width: 520px) {
  .pencil-icon{
    font-size: 30px;
  }
  .container{
    padding: 35px 15px;
  }
  .space-left-contact{
    margin-top: 20px;
  }


}
