* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
 /* border: 1px solid red;*/
  background-color: #fdfac9;
}
.container {
  width: 65%;
  height: 800px;
  margin: 0 auto;
  /*border: 1px solid blue;*/
  padding: 50px 35px;
}
.name {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #333;
  margin-bottom: 0;
}
.description {
  font-size: 16px;
  font-weight: 200;
  color: #333;
  text-align: center;
}
.line-solid {
  width: 100%;
  height: 2px;
  background-color: #333;
  display: block;
  margin: 15px 0;
}

.container-subtitle {
  display: flex;
  align-items: center;
  justify-content: start;
}

.container-subtitle p {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #333;
}

.section-studies {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-studies {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-studies p {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 200;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #7dabc5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle i {
  color: white;
}
.fa-html5{
  color: #ea4c29;
  font-size: 35px;
  margin-left: 10px;
}
.fa-css3-alt{
  color: #85b8e3;
  font-size: 35px;
  margin-left: 10px;
}
.fa-js{
  color: #fcbe52;
  font-size: 35px;
  margin-left: 10px;
}
.fa-bootstrap{
  color: purple;
  font-size: 35px;
  margin-left: 10px;
}
.fa-mobile-alt{
  color:#333 ;
  font-size: 35px;
  margin-left: 10px;
}
.languages{
  display: flex;
  align-items: center;
  justify-content: center;

}
.laguages >div{
  margin-left: 30px;
}


.pencil-icon {
  font-size: 40px;
  transform: rotate(315deg)!important;
}
.pencil-icon-color-html {
  color: #ea4c29;
}
.pencil-icon-color-css {
  color: #85b8e3;
}
.pencil-icon-color-js {
  color: #fcbe52;
}

.separate-pencil{
  margin-left: 20px;
}

.box {
  width: 55px;
  height: 55px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.box-html {
  background: #ea4c29;
}
.box-css {
  background: #85b8e3;
}
.box-js {
  background: #fcbe52;
}

.text-html {
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.container-pencil {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

footer {
}
.line-solid-vertical {
  width: 2px;
  height: 100px;
  background-color: #333;
  margin-right: 20px;
}
.likes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.likes div {
  width: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.likes div i {
  font-size: 40px;
  color: #7dabc5;
}
.likes div span {
  color: #333;
  font-size: 12px;
  opacity: 0.5;
}
.contact div {
  display: flex;
  align-items: center;
  margin: 4px 0;
}
.contact div span {
  color: #333;
  font-size: 12px;
  opacity: 0.5;
  margin-left: 8px;
}
.contact div .circle {
  width: 35px;
  height: 35px;
}
.line-dotted {
  border-bottom: 1px dotted #333;
}
.line-dotted-right {
  border-right: 1px dotted #333;
}
.space-left-contact {
  padding-left: 10px;
}
.github,
.linkedin {
  cursor: pointer;
}
.information--container-items {
  width: 49%;
}

.information {
  display: flex;
  align-items: end;
}
.button-call{
  width: 45px;
  height:45px ;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(140, 224, 140) ;
  border-radius: 100%;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.button-call i{
  color: white;

}
